<div class="display-4">
    <strong>@ViewBag.Fiyat tutarındaki Satın alma işleminiz başarıyla gerçekleşti.Bizi tercih ettiğiniz için teşekkür ederiz.</strong>
    <p>
        <a asp-controller="Home" asp-action="Index" class="btn btn-success">Geri Dön</a>
    </p>
</div>