@model CreateCategoryModel

<form asp-controller="Category" asp-action="Create">
    <div class="form-group">
        <label>Category Name: </label>
        <span asp-validation-for="@Model.Name" class="text-danger"></span>
        <input asp-for="@Model.Name" class="form-control" />
    </div>

    <button class="btn btn-primary">Create Category</button>
    <a asp-controller="Category" asp-action="Index" class="btn btn-warning">Come Back</a>
</form>

@section Javascript{
    <script src="~/jqueryValidation/jquery.validate.min.js"></script>
    <script src="~/jqueryUnob/jquery.validate.unobtrusive.min.js"></script>
}